@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.testimonial-carousel .carousel .slide {
    background: transparent;
    padding: 0;
}

.testimonial-carousel .carousel .control-dots .dot {
    background: #ec4899;
    box-shadow: none;
    width: 8px;
    height: 8px;
    margin: 0 4px;
}

.testimonial-carousel .carousel .control-dots .dot.selected {
    background: #ec4899;
    transform: scale(1.5);
}

.testimonial-carousel .carousel.carousel-slider {
    overflow: visible;
}

@theme {
    --font-poppins: 'Poppins', sans-serif;
}